In [4]:
import yfinance as yf
import wbdata
import datetime

In [5]:
countries = ["USA"]
indicators = {
    "NY.GDP.MKTP.CD": "GDP",         # GDP (current US$)
    "SL.UEM.TOTL.ZS": "Unemployment" # Unemployment (% of total labor force)
}
start_date = datetime.datetime(2010, 1, 1)
end_date = datetime.datetime(2025, 12, 31)
df = wbdata.get_dataframe(indicators, countries, (start_date, end_date))
df = df.reset_index()  # Make country/date columns regular columns
print(df.head())

   date           GDP  Unemployment
0  2024  2.918489e+13         4.106
1  2023  2.772071e+13         3.638
2  2022  2.600689e+13         3.650
3  2021  2.368117e+13         5.349
4  2020  2.135410e+13         8.055

In [14]:
data = yf.download('AAPL',start='2015-01-01',end='2025-08-16')

[*********************100%***********************]  1 of 1 completed

In [12]:
data.head()

Price          Close      High       Low      Open     Volume
Ticker          AAPL      AAPL      AAPL      AAPL       AAPL
Date
2010-01-04  6.424604  6.439314  6.375672  6.407193  493729600
2010-01-05  6.435711  6.472036  6.401788  6.442316  601904800
2010-01-06  6.333344  6.461229  6.326739  6.435712  552160000
2010-01-07  6.321635  6.364264  6.275704  6.356759  477131200
2010-01-08  6.363666  6.364266  6.276008  6.313232  447610800

In [15]:
df['date']

0     2024
1     2023
2     2022
3     2021
4     2020
5     2019
6     2018
7     2017
8     2016
9     2015
10    2014
11    2013
12    2012
13    2011
14    2010
Name: date, dtype: object

In [21]:
data["year"] = data.index.year

In [24]:
data.sample(10)

Price            Close        High         Low        Open     Volume  year
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2023-11-28  188.801529  189.475828  187.809924  188.186739   38415400  2023
2022-12-08  140.666168  141.524079  139.137736  140.380208   62128300  2022
2023-02-17  150.658142  151.102558  148.979228  150.460625   59144100  2023
2021-04-14  128.841736  131.740017  128.480675  131.681469   87222800  2021
2018-03-19   41.261181   41.771943   40.875167   41.736639  133787200  2018
2021-09-15  145.896561  146.297944  143.292485  145.436441   83281300  2021
2019-03-08   41.318348   41.356582   40.503498   40.699446   95997600  2019
2024-12-30  251.307861  252.603266  249.862994  251.337754   35557500  2024
2016-12-21   27.006773   27.085215   26.942175   26.946790   95132800  2016
2020-04-14   69.490906   69.781412   67.312128   67.784199  194994800  2020

In [25]:
data.merge(df,on="year")

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)